HPV.Presentacion/Service References/ServiciosHPV/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" />
  <xs:element name="modificarHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" minOccurs="0" name="hotel" nillable="true" type="q1:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarHotelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDireccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" minOccurs="0" name="obtenerDireccionResult" nillable="true" type="q2:Direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" minOccurs="0" name="direccion" nillable="true" type="q3:Direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarDireccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenna" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" minOccurs="0" name="validarUsuarioResult" nillable="true" type="q4:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>