HPV.Presentacion/Service References/HPV.Services/HPV.Core.Dominio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HPV.Core.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApartadoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHotel" type="xs:int" />
      <xs:element minOccurs="0" name="NombreHotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" type="xs:float" />
      <xs:element minOccurs="0" name="Longitud" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>